@import "tailwindcss";

/* Global sleek scrollbar with purple-700 theme */
* {
  scrollbar-width: thin;         
  scrollbar-color: #7e22ce #f3f4f6; 
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #7e22ce; 
  border-radius: 10px;
  border: 2px solid #f3f4f6; 
}

